# Root .gitignore for Hyperchip mono-repo
**/target/
target/
*.jar
*.war
*.log
**/wishlist-check-extracted/
**/*.zip

.idea/
.vscode/
.DS_Store

_OLD_Hyperchip-Ecommerce-Microservices/
Ecommerce Projects_BACKUP/

.git_backup/
**/.git_backup/

# Ignore runtime uploaded files
uploads/
**/uploads/

# Ignore environment files (CRITICAL)
.env
**/.env
"master-log.txt" 
"HyperchipMaster/master-log.txt" 
"HyperchipMaster/master-log2.txt" 
